* {
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  html,
  body,
  #root,
  #root > div {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image:url("/Natspark.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }